<?xml version="1.0"?>
<launch>
  <arg name="use_rviz" default="false"/>
  <arg name="use_joint_gui" default="true"/>
  <arg name="use_static_tf" default="true"/>
  <arg name="use_robot_pub" default="true"/>

  <group ns="fridge">
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find popcanbot_description)/urdf/fridge.xacro'"/>

  <!-- TODO(lucasw) running two of these even in different namespaces was causing crashes -->
  <!--
  <node name="joint_state_publisher" pkg="joint_state_publisher"
      type="joint_state_publisher">
    <param name="use_gui" value="$(arg use_joint_gui)"/>
  </node>
  -->

  <node name="robot_state_publisher" pkg="robot_state_publisher"
      type="robot_state_publisher"
      if="$(arg use_robot_pub)"/>

  <node name="rviz" pkg="rviz" type="rviz"
      if="$(arg use_rviz)"
      args="-d $(find popcanbot_description)/config/popcanbot.rviz"/>

  <node if="$(arg use_static_tf)"
      pkg="tf" type="static_transform_publisher" name="static_transform_publisher"
      args="-3.0 0 0.025 0 0 0 map fridge_base_link 30"/>

  </group>

</launch>
