<?xml version="1.0"?>
<launch>

<group ns="popcanbot">
  <node name="dr_topics" pkg="dynamic_reconfigure_tools" type="dr_topics.py"
      output="screen">
  </node>

  <!-- TODO(lucasw) launch rqt ui.perspective -->
  <node name="popcanbot_rqt" pkg="rqt_gui" type="rqt_gui"
      respawn="false" output="screen"
      args="--perspective-file $(find popcanbot_ui)/config/popcanbot.perspective"/>
</group>  <!-- popcanbot -->

</launch>
