<?xml version="1.0"?>
<launch>
  <arg name="use_rviz" default="false"/>
  <arg name="use_joy" default="false" doc="use joystick/gamepad"/>
  <arg name="world_name" default="$(find popcanbot_gazebo)/worlds/popcan_arena_full.world"
      doc="the world doesn't work with jade and earlier, so set this to worlds/empty.world if using those" />

  <rosparam file="$(find popcanbot_gazebo_control)/config/popcanbot_gazebo_control.yaml"
      command="load"/>

	<!--TODO(lucasw) may want to make gazebo ros boilerplate variant rather than
			using off the shelf controllers -->
  <!-- load every controller in the yaml -->
  <!--
    use diff drive controller
       front_left/wheel_position_controller
       front_right/wheel_position_controller
  -->
  <node name="spawner" pkg="controller_manager" type="spawner"
    output="screen" ns="/popcanbot"
    args="joint_state_controller
       arm/arm_vertical_rotation_controller
       arm/arm_vertical_position_controller
       arm/arm_horizontal_position_controller
       arm/gripper_left_position_controller
       arm/gripper_right_position_controller
       ">
  </node>

  <group ns="popcanbot">
    <group ns="front_right">
      <node pkg="popcanbot_gazebo_control" type="joint_state_to_command.py"
          name="joint_state_to_command" output="screen">
        <param name="joint_name" value="wheel_front_right_joint"/>
        <remap from="command" to="wheel_position_controller/command"/>
      </node>
    </group>

    <group ns="front_left">
      <node pkg="popcanbot_gazebo_control" type="joint_state_to_command.py"
          name="joint_state_to_command" output="screen">
        <param name="joint_name" value="wheel_front_left_joint"/>
        <remap from="command" to="wheel_position_controller/command"/>
      </node>
    </group>

		<!-- need to launch this in standalone terminal -->
    <!--
		<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py"
				name="teleop_twist_keyboard" unless="$(arg use_joy)"
				if="false">
			<param name="speed" value="0.05"/>
			<param name="turn" value="0.1"/>
		</node>
    -->

    <node name="odom_static_transform_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 map odom 100"/>

  </group>

  <include file="$(find popcanbot_gazebo)/launch/popcanbot_world.launch">
    <arg name="use_joy" value="$(arg use_joy)"/>
    <arg name="world_name" value="$(arg world_name)"/>
  </include>


</launch>
