<?xml version="1.0"?>
<launch>
  <arg name="use_joy" default="false" doc="use joystick/gamepad"/>
  <arg name="use_rviz" default="true"/>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--arg name="world_name" value="$(find popcanbot_gazebo)/worlds/popcanbot.world"/-->
    <arg name="world_name" value="$(find popcanbot_gazebo)/worlds/popcan_arena_full.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <include file="$(find popcanbot_control)/launch/popcanbot_control.launch">
    <arg name="use_rviz" value="$(arg use_rviz)"/>
    <arg name="use_joy" value="$(arg use_joy)"/>
  </include>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
      respawn="false" output="screen"
      args="-urdf -model popcanbot -param robot_description -x -1.0 -y -2.0 -z 0.5"/>
      <!-- args="-urdf -model popcanbot -param popcanbot/robot_description -x -1.0 -y -2.0 -z 0.5"/-->

  <node name="fridge_urdf_spawner" pkg="gazebo_ros" type="spawn_model"
      respawn="false" output="screen"
      args="-urdf -model fridge -param fridge/robot_description -x -0.72 -y -0.0 -z 0.1 -Y -1.571"/>

  <node name="popcan_urdf_spawner" pkg="gazebo_ros" type="spawn_model"
      respawn="false" output="screen"
      args="-urdf -model popcan -param popcan/robot_description -x -0.72 -y -0.0 -z 0.56 -Y -1.571"/>
</launch>
